body * {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    vertical-align: middle;
    /*copiato bellamente dalla sorgente della pagina, chiedere ad Andrea come mai funziona*/
    width: 100%;
  }

.first-section {
    background-color: #ffcc00;
    width: 100vw;
    /*vw sta per view width, quindi gli stiamo dicendo che deve essere largo come tutta la larghezza visibile. Con 100% gli diciamo che deve essere il 100% DEL GENITORE, non del viewport*/
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: song play;
    /* align-items: center;
    justify-items: center;*/
}

.logo {
    width: 300px;
}

.playing-song {
    justify-items: bottom;
    position: absolute;
    bottom: 40px;
    left: 16px;
}

.singer {
    font-size: 50px;
}

.div-song {
    display: grid;
    padding: 2px;
    margin: 24px;
    justify-self: bottom;
    position: relative;
}

.div-play {
    justify-self: center;
    height: 100%;
}

.last-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;  
}

.mouth {
    width: 50vw;
    height: 50vw;
    background-color: #660099;
    justify-content: center;
    align-content: center;
    display: grid;
}

.arrow {
    width: 50vw;
    height: 50vw;
    background-color: #ff3333;
    justify-content: center;
    align-content: center;
    display: grid;
}

@media (max-width: 768px) {
    .last-section {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .mouth {
        width: 100vw;
        height: 100vw;
     
    }
    
    .arrow {
        width: 100vw;
        height: 100vw;
        
    }
}

.second-section {
    background-color: #660099;
    width: 100vw;
}

.third-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "howto howto circle" 
                         "to to fm"
                         "online lettera lettera"
                         "devices devices devices"
                         "letterz letterz letterz";
    background-color: #ffcc00;
}

.circle-listen {
    grid-area: circle;
}

.howto {
    grid-area: howto;
    text-transform: uppercase;
    font-size: 200px;
    
}


.online {
    grid-area: online;
}

.lettera {
    grid-area: lettera;
}

.letterz {
    grid-area: letterz;
    float: right;
 
    margin-right: 0px;
    margin-left: 24px;
    margin-bottom: 100px;
}

.to {
    grid-area: to;
    text-transform: uppercase;
    font-size: 200px;
}

.fm {
    grid-area: fm;
    font-size: 100px;
}

.listen-number {
    font-size: 60px;
    border-bottom: 1px solid;
}

.letterz-img {
    width: 49%;
    align-self: auto;
}

.letterj-img {
    width: 50%;
margin-left: 25px;
margin-top: -150px;
vertical-align: middle;
position: relative;
top: 0px;
}

.fourth-section {
    background-color: #660099;
    width: 100vw;
}

.fifth-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    border: solid 1px;
    grid-template-areas: "schedule schedule circle"
                         ".        .        monday"
                         "tuesday  wednesday ."
                         ".        thursday  ."
                         ".        .         friday"
                         "saturday sunday    .";
width: 100vw;
margin-bottom: 270px;
}

.div-schedule {
    font-size: 350px;
}

.div-circle {
    grid-area: circle;
    margin-bottom: 280px;
}

.div-week {
    border-top: 1px solid;
    font-size: 45px;
    margin: 24px;
}

.div-weekend {
    border-top: 1px solid;
    border-top: 1px solid;
    font-size: 45px;
    margin: 24px;
}

.div-monday {
    grid-area: monday;
}

.div-tuesday {
    grid-area: tuesday;
}

.div-wednesday {
    grid-area: wednesday;
}

.div-thursday {
    grid-area: thursday;
}

.div-friday {
    grid-area: friday;
}

.div-saturday {
    grid-area: saturday;
}

.div-sunday {
    grid-area: sunday;
}

.sixth-section {
    background-color: #ffcc00;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 100vw;
}

.div-keyboard {
    justify-self: center;
    align-self: center;
    margin: 0px;
}

.flowing-text {
    font-size: 150px;
    text-transform: uppercase;
}

.seventh-section {
    background-color: #0099ff;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100vw;
    padding: 24px;
    grid-template-areas: "sheep-column"
                         "div-event";
}

.div-event .span-city {
    float: right;
}

.div-event .span-event {
    float: left;
}

.span-city {
        font-size: 2.4rem;
        line-height: 4rem;
    }

.span-event {
        font-size: 2.4rem;
        line-height: 4rem;
        
}

.div-event {
    margin: 0px;
    /* font-size: 200%; */
    grid-area: div-event;
}

.hr-places {
    color: white;
}

.eighth-section {
    background-color: #660099;
    width: 100vw;
}

.ninth-section {
    background-color: #ffcc00;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "contact circle"
                         ". contact information";
    width: 100vw;
}

.last-page-img {
    width: 100%;
}

.contact {
    position: sticky;
    top: 0;
}

.contact-text {
font-size: 250px;
font-weight: 600;
text-transform: uppercase;
line-height: 170px;
letter-spacing: -10px;
margin: 0;
}

.contact-information {
    padding: 16px;
    grid-area: contact information;
    margin: 16px;
}

.sheep-column {
    justify-self: center;
    align-self: center;
    position: sticky;
    top: 0;
    grid-area: sheep-column;
}